@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

body{
  font-family: 'Noto Sans TC', sans-serif;
}

.container{
  width: 90%;
  margin: 0 auto;
}

.container .title{
  font-size: 25px;
  margin: 20px 0;
  letter-spacing: 5px;
  color: #b5cc22;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .container .title{
    font-size: 20px;
    letter-spacing: 3px;
  }
}